<!DOCTYPE HTML>
<html>
<head>
<title>智能图书推荐系统</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/login.css') }} />
</head>
<body>
<div id="title">
    
    {% if not loggedIn %}
    <div id="signInButton">
        <a class="link" href="/loginForm" ><font color="#FFFFFF">登录</font></a>
    </div>
    {% else %}
    <div class="dropdown">
        <button class="dropbtn" title="主菜单"><font color="#FFFFFF">{{firstName}}</font></button>
        <div class="dropdown-content">
            <a href="/cart">推荐书籍</a>
            <a href="/oldcart">历史评分</a>
            <hr>
            <a href="/logout">安全退出</a>
        </div>
    </div>
    {% endif %}
    <div id="kart">
        <a class="link" href="/"><font color="#FFFFFF">主页</font></a>
        <a class="link" href="/cart"><font color="#FFFFFF">推荐书籍</font></a>
        <a class="link" href="/oldcart"><font color="#FFFFFF">历史评分</font></a>
    </div>
    <div>
        <h1 align="center"><font size="15"><font color="#FFFFFF">智能图书推荐系统</font></font></h1>
    </div>
</div>
    <div >
            <div class="search bar7">
            <form action="/search" method="GET">
                <p>
                    {% if key %}
                        <input type="text" name="wd" value="{{key}}">
                    {% else %}
                        <input type="text" name="wd">
                    {% endif %}
                     <button type="submit"></button>
                </p>
            </form>
        </div>
    {% for doc in docs%}
           
    
        <h2 align="center">书籍名称：{{doc.title}}
        <hr align="center">作者：{{doc.author}}
        <hr align="center">出版时间:{{doc.PubilcationYear}}
        <hr align="center">出版社:{{doc.Publisher}}
        </h2 >
        
         <p align="center">
            <img width=100% height=100% src="{{doc.image}}" />
            </p>
    {% endfor %}
  </div>   
</body>
</html>
