<!DOCTYPE HTML>
<html>
<head>
<title>智能图书推荐系统</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />

</head>
<body>
<div id="title">
	
	{% if not loggedIn %}
	<div id="signInButton">
		<a class="link" href="/loginForm" ><font color="#FFFFFF">登录</font></a>
	</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn" title="主菜单"><font color="#FFFFFF">{{firstName}}</font></button>
		<div class="dropdown-content">
			<a href="/cart">推荐书籍</a>
			<a href="/oldcart">历史评分</a>
			<hr>
			<a href="/logout">安全退出</a>
		</div>
	</div>
	{% endif %}
	<div id="kart">
		<a class="link" href="/"><font color="#FFFFFF">主页</font></a>
		<a class="link" href="/cart"><font color="#FFFFFF">推荐书籍</font></a>
		<a class="link" href="/oldcart"><font color="#FFFFFF">历史评分</font></a>
	</div>
	<div>
		<h1 align="center"><font size="15"><font color="#FFFFFF">智能图书推荐系统</font></font></h1>
	</div>
</div>

	<div class="search bar7">
        <form action="/search" method="GET">
            <input type="text" name="wd" placeholder="请输入小说名">
            <button type="submit"></button>
        </form>
    </div>
    </form>
    

<div class="display">
	{% if not loggedIn %}
	<div>
		
		<h2>猜你喜欢：<a class="link" href="/loginForm" ><font color="#6666FF">点击这里登录</font></a></h2>
		<hr>
	</div>
	{% else %}
	<div>
		<h2>猜你喜欢：</h2>
		{% for data in likeData %}
		<table width="2000px" class="mytable">
			<tr id="productName">
				{% for row in data %}
				<td>
					推荐分：{{row[5]}} 
				</td>
				{% endfor %}
			</tr>
			<tr id="productImage">
				{% for row in data %}
				<td>
					<a href="/bookinfo?bookid={{row[1]}}" bookid="{{row[1]}}">
						<img src="{{row[3]}}" id="itemImage" />
					</a>
				</td>
				{% endfor %}
			</tr>
			<tr id="productPrice">
				{% for row in data %}
				<td >
					{{row[2]}}
				</td>
				{% endfor %}
			</tr>
		</table>
		{% endfor %}
	</div>
	{% endif %}
	<div>
		
		<h2>热门书籍</h2>
		<hr>
		{% for data in itemData %}
		<table  width="2000px" class="mytable">
			<tr id="productName">
				{% for row in data %}
				<td>
					ID：{{row[1]}}
				</td>
				{% endfor %}
			</tr>
			<tr id="productImage">
				{% for row in data %}
				<td>
					<a href="/bookinfo?bookid={{row[1]}}" bookid="{{row[1]}}">
						<img src="{{row[4]}}" id="itemImage" />
					</a>
				</td>
				{% endfor %}
			</tr>
			<tr id="productPrice">
				{% for row in data %}
				<td>
					{{row[2]}}
				</td>
				{% endfor %}
			</tr>
		</table>
		{% endfor %}
	</div>
</div>
	
<script src = "{{url_for('static',filename = 'js/jquery-2.0.3.min.js')}}"></script>
<script src = "{{url_for('static',filename = 'js/jquery.raty.js')}}"></script>
</body>
</html>

