
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>登录</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
    <link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
    <link rel="stylesheet" href={{ url_for('static', filename='css/login.css') }} />
</head>

<body>
<p> {{error}} </p>
<form action="/login" method="POST">
    <p>用户ID：<input type="text" name="userid"></p>
    <p>用户密码：<input type="password" name="username"></p>
    <p><input type="submit"></p>
    <a href="/registerationForm"><font color="#78cdd1">点击这里注册</font></a>
</form>
</body>
</html>