<!DOCTYPE HTML>
<html>
<head>
<title>智能图书推荐系统</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />

</head>
<body>
<div id="title">
    
    {% if not loggedIn %}
    <div id="signInButton">
        <a class="link" href="/loginForm" ><font color="#FFFFFF">登录</font></a>
    </div>
    {% else %}
    <div class="dropdown">
        <button class="dropbtn" title="主菜单"><font color="#FFFFFF">{{firstName}}</font></button>
        <div class="dropdown-content">
            <a href="/cart">推荐书籍</a>
            <a href="/oldcart">历史评分</a>
            <hr>
            <a href="/logout">安全退出</a>
        </div>
    </div>
    {% endif %}
    <div id="kart">
        <a class="link" href="/"><font color="#FFFFFF">主页</font></a>
        <a class="link" href="/cart"><font color="#FFFFFF">推荐书籍</font></a>
        <a class="link" href="/oldcart"><font color="#FFFFFF">历史评分</font></a>
    </div>
    <div>
        <h1 align="center"><font size="15"><font color="#FFFFFF">智能图书推荐系统</font></font></h1>
    </div>
</div>
    <div >
            <div class="search bar7">
            <form action="/search" method="GET">
                <p>
                    {% if key %}
                        <input type="text" name="wd" value="{{key}}">
                    {% else %}
                        <input type="text" name="wd">
                    {% endif %}
                     <button type="submit"></button>
                </p>
            </form>
        </div>
<div id="cartItems">
	<h2>书单</h2>
	<div id="tableItems">
		{% for row in products %}
		<div>
			<hr id="seperator">
		<div id="itemImage">
                <a href="/bookinfo?bookid={{row[1]}}" bookid="{{row[1]}}">
				<img src="{{row[3]}}" id="image"/>
			  </div>
		<div id="itemName">
				<span id="itemNameTag">书籍编号：{{row[1]}}</span>
			  </div>

		<div id="itemPrice">
				书名:{{row[2]}}
			  </div>
			  <hr>推荐书籍评分：
		<div myId='{{row[1]}}' class="star" data-score="{{row[5]}}" id='socre'></div>
		</div>
	</div>
		{% endfor %}
		<hr id="seperator">
		
	</div>
</div>
<script src = "{{url_for('static',filename = 'js/jquery-2.0.3.min.js')}}"></script>
<script src = "{{url_for('static',filename = 'js/jquery-2.0.3.js')}}"></script>
<script src = "{{url_for('static',filename = 'js/jquery.raty.js')}}"></script>
<script type="text/javascript"> 
    $('.star').each(function(i,e){
				// var v = $(this).attr("class");
				$(this).raty({
						number: 10 ,
						hints: ['1', '2', '3', '4', '5','6','7','8','9','10'],
						path:"static/img",
						starOff: 'star-off.png',
						starOn: 'star-on.png',
						cancel: true ,
						score: function() {
						return $(this).attr('data-score')},
						click: function(score, evt) {
							var data = {
										data: JSON.stringify({
										"id":evt.target.parentNode.getAttribute('myId'),"score":score
											                 })
											   }
																	
							$.ajax({   
								type:"POST",   
								url:"http://127.0.0.1:5000/cart",  
								data: data,
								cache:false, //不缓存此页面   
								success:function(data){  
								} 
							});
							//$("#sc").val(score);
					}
				});
			});
</script>
</body>
</html>



